body {
	font-family: 'Manrope', sans-serif;
	font-size: 14px;
}
h3{
	color: #fff;
	background-color: #2a343e;
	padding:10px;
}
.main-nav {
	background-color: #202a33;
}
.main-nav .navbar-collapse {
	justify-content: flex-end;
}
.main-nav .navbar-nav .nav-item {
	padding: 20px;
	letter-spacing: 1px;
}
.main-nav .navbar-nav .nav-item .badge {
	margin-left: 2px;
    background-color: #f10b0b;
    color: #fff;
}
.categories {
	background-color: #2a343e;
	justify-content: center;
	margin-bottom: 50px;
}
.categories .nav-item > .nav-link {
	color: #fff;
	text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 18px 20px;
}
.categories .nav-item:first-child > .nav-link {
	font-weight: 700;
	color: #b0becc;
}

.product-list {
	border: none;
	margin-bottom: 30px;
	box-shadow: 0 10px 25px 0px rgba(0,0,0,0.1);
}
.product-list .product-image {
	width: 100%;
    max-width: 100%;
    height: 160px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}
.product-list .product-image .card-img {
	width: 100%;
	height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover; 
}
.product-list .card-body {
	padding: 10px;
	text-align: left;
}
.product-list .card-body .card-title {
	margin-bottom: 2px;
    font-size: 16px;
    font-weight: 600;
}
.product-list .card-body .card-text {
	font-size: 13px;
}
.product-list .card-body .card-text .price {
	font-size: 15px;
    font-weight: 700;
    margin: 5px 0 0;
}
.product-list .card-footer {
	border: none;
}
.product-list .card-footer .input-group-append {
	font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

/*login form*/

.login-section{
	background: url('../images/login-bg.jpg')center no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}
.login-section > .row {
	background-color: rgba(32, 42, 51, 0.7215686274509804);
}
.login-section .icon {
	width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto -40px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    padding: 25px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}
.login-section img {
    width: 100%;
}

.form-section {
	background-color: rgba(255,255,255,0.5);
	padding: 50px 30px 30px;
}

/*//categories*/

.categories-header{
	font-size: 25px;
	font-weight: bold;
}
.category-name{
	font-size: 20px;
}
.cart-table{
	min-height: 70vh;
}